body {
  font-family: 'Poppins', sans-serif;
}

.clampedLine {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

@media (min-width: 768px) {
  .clampedLine {
    -webkit-line-clamp: 4;
  }
}
